[submodule "lib/anti-ddos"]
	path = lib/anti-ddos
	url = git@github.com:iotcat/anti-ddos
[submodule "lib/huaweicloud-sdk-php-obs"]
	path = lib/huaweicloud-sdk-php-obs
	url = git@github.com:iotcat/huaweicloud-sdk-php-obs
[submodule "lib/qcloudsms"]
	path = lib/qcloudsms
	url = git@github.com:iotcat/qcloudsms
[submodule "www/acg.watch"]
	path = www/acg.watch
	url = git@github.com:iotcat/acg.watch
[submodule "www/api"]
	path = www/api
	url = git@github.com:iotcat/ushio-api
[submodule "www/filebed"]
	path = www/filebed
	url = git@github.com:iotcat/ushio-filebed
[submodule "www/img"]
	path = www/img
	url = git@github.com:iotcat/ushio-img
[submodule "www/imgbed"]
	path = www/imgbed
	url = git@github.com:iotcat/ushio-imgbed
[submodule "www/log"]
	path = www/log
	url = git@github.com:iotcat/ushio-log
[submodule "www/session"]
	path = www/session
	url = git@github.com:iotcat/ushio-session
[submodule "www/shorturl"]
	path = www/shorturl
	url = git@github.com:iotcat/ushio-shorturl
[submodule "www/ushio-win-server"]
	path = www/ushio-win-server
	url = git@github.com:iotcat/ushio-win-server
[submodule "www/iotcat.me"]
	path = www/iotcat.me
	url = git@github.com:iotcat/iotcat.me-homepage
[submodule "www/blog"]
	path = www/blog
	url = git@github.com:iotcat/eee.dog-public
[submodule "www/pay"]
	path = www/pay
	url = git@github.com:IoTcat/Ushio-pay.git
[submodule "www/wiot"]
	path = www/wiot
	url = git@github.com:IoTcat/wIoT-OTA.git
[submodule "www/mksec"]
	path = www/mksec
	url = git@github.com:IoTcat/sentence-generator.git
[submodule "www/wanzongbiz"]
	path = www/wanzongbiz
	url = git@github.com:iotcat/wanzongbiz.com.git
[submodule "www/login"]
	path = www/login
	url = git@github.com:IoTcat/ushio-login.git
[submodule "www/auth"]
	path = www/auth
	url = git@github.com:IoTcat/ushio-auth.git
[submodule "www/v2ray"]
	path = www/v2ray
	url = git@github.com:IoTcat/ushio-v2ray.git
[submodule "www/user"]
	path = www/user
	url = git@github.com:IoTcat/ushio-user.git
[submodule "www/guide"]
	path = www/guide
	url = git@github.com:iotcat/ushio-guide.git
[submodule "www/cp-acc"]
	path = www/cp-acc
	url = git@github.com:IoTcat/cp-acc.git
[submodule "www/cv"]
	path = www/cv
	url = git@github.com:iotcat/cv.git
[submodule "www/github"]
	path = www/github
	url = git@github.com:IoTcat/ushio-github.git
