<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <asp logErrorRequests="false" enableParentPaths="true" runOnEndAnonymously="false">
            <limits bufferingLimit="20480000" maxRequestEntityAllowed="20480000" />
        </asp>
        <handlers>
            <add name="PHP.FastCGI" path="*.php" verb="GET,HEAD,POST,TRACE,DEBUG" modules="FastCgiModule" scriptProcessor="C:\zhujibao\apps\php5.6\php-cgi.exe" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
                <add value="index.php" />
                <add value="index.shtml" />
                <add value="index.asp" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <security>
            <authentication>
                <anonymousAuthentication userName="IIS_yimian.xyz" password="[enc:AesProvider:LPsPT3CvymlwHyq1P0iH1Xo92gHGzOp6yKoGISm7dH3dxlgkqUEo1hCsX9vH+APE:enc]" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
